:root {
  /*COLORS*/
  --principal-color: #e74d3c;
  --secondary-color: #287fb8;
  --tertiary-color: #3398db;
  --background-color: #edf1f2;
  --background-dark-color: #8a9886;
  --tex-color-principal: #17191b;
  --tex-color-description: #8a9886;
  --tex-white-color-principal: #edf1f2;
  --icon-color: #2b3d50;
  --shadow: 15px 15px 15px -20px black;
  /*SIZE*/
  --project-size: 300px;
  --icon-size: 3rem;
  --tiny-icon-size: 2rem;
  --radius: 1rem;
  --text-size-principal: 2rem;
  --text-size-secondary: 1.5rem;
  --text-size-description: 1rem;
  --padding: 1rem;
  --margin: 1rem;
  --gap: 1rem;
  --gap-min: 0.5rem;
  --logo-size: 2rem;
  --border-size: 3px;
  --max-paragraph-size: 75ch;
}
body {
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--tex-color-principal);
  margin: 0;
  max-width: 100dvw;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}
header {
  background-image: linear-gradient(
    -15deg,
    transparent 60%,
    var(--principal-color) 0% 100%,
    transparent 0%
  );
  padding: 0 var(--padding);
  .description {
    max-width: var(--max-paragraph-size);
  }

  .picture {
    margin: calc(20vw - 1rem) 0 0 0;
    position: relative;
    width: 60vw;
    height: 60vw;
    background-image: url(./pic.jpg);
    background-size: cover;
    color: var(--background-color);
    padding: var(--padding);
    h1 {
      position: absolute;
      text-align: end;
      bottom: var(--margin);
      right: var(--margin);
      font-size: 2.5rem;
    }
  }
}
main {
  padding: 0 var(--padding);
  .projects-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--project-size));
  }
  h1 {
    margin: 1rem;
  }
  .project {
    background-color: #2b3d50;
    color: #edf1f2;
    max-width: var(--project-size);
    box-shadow: var(--shadow);
    overflow: hidden;
    img {
      max-width: var(--project-size);
    }
    .project-information-container {
      padding: var(--padding);
      position: relative;
      .project-icons-container {
        position: absolute;
        top: var(--margin);
        right: var(--margin);
        svg {
          width: var(--tiny-icon-size);
          height: var(--tiny-icon-size);
          fill: #edf1f2;
        }
      }
    }
  }
}
footer {
  background-color: var(--principal-color);
  padding: var(--padding);
}
.container,
.about-me {
  display: flex;
  flex-flow: column;
  align-items: center;
}
svg {
  height: var(--icon-size);
  fill: var(--tex-color-principal);
}
.icons-container {
  display: flex;
}
h1 {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem;
}

@media (min-width: 650px) {
  h1 {
    text-align: start;
  }
  header {
    .picture {
      max-height: 400px;
      min-width: 400px;
      margin: 0;
    }
    .about-me {
      background-color: #fff;
      align-items: start;
      box-shadow: var(--shadow);
      padding: var(--padding);
    }
    .icons-container {
      display: none;
    }
  }
}

@media (min-width: 950px) {
  header {
    background-image: linear-gradient(
      -10deg,
      transparent 40%,
      var(--principal-color) 0% 100%,
      transparent 0%
    );
    display: flex;
    justify-content: center;
    .container {
      flex-flow: row;
      margin: 3rem;
    }
    .picture {
      height: 400px;
      width: 400px;
    }
    .about-me {
      position: relative;
      height: 300px;
      align-content: center;
      display: grid;
      .icons-container {
        display: flex;
        position: absolute;
        right: var(--margin);
        bottom: var(--margin);
        gap: 1rem;
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 950px) {
  header {
    padding: 2rem;
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
    }
    .picture {
      grid-column: 1 / 3;
      grid-row: 1/3;
      margin: 0;
    }
    .about-me {
      grid-column: 2 / -1;
      grid-row: 2/-1;
      height: 100%;
    }
    .picture::before {
      content: "";
      grid-column: 2 / -2;
      grid-row: 2/-2;
    }
  }
}
